/* STYLE GENERICI */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    
    
}
h1,h3 {
    color: #25a2c3 ;
    font-family: 'Montserrat', sans-serif;
}

h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    line-height: 1em;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
h3 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  

body{
    font-family: 'Open Sans', sans-serif;
    color:  #393d41 ;
    font-size: 1.2rem;
    
}
.container{
  
    height: auto;
    margin-right: auto;
    margin-left: auto;
}


/* LOGO */
.logo-box {
  text-align: center;
  background-color: black;
  padding: 25px;
  height: 100px;
  width: 100%;
}
.logo-box img {
    width: 160px;
}


/* HEADER */
.claim{
    text-align: center;
    line-height: 1.5em;
    padding: 25px;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
}


.claim button{
   background-color: #f84927;
   color: white;
   border: #f84927;
   border-radius: 3px;
   font-weight: bold;
   padding: 0.7em 1.8em;
}
.claim p {

    padding-top: 15px;
    padding-bottom: 15px;
}

/* SECTION 1 */

section{
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 35px;
   
}

section img {
 border-radius: 50%; 
    width: auto;
    height: 300px;
    margin-top: 35px;
}

/* TESTIMONIANZE */


#testimoni h2{
color: white;
}
#testimoni{
    background-color: #e22d0e;
    color: white;
    padding: 35px;
}
#testimoni p {
    padding-top: 20px;
    font-size: 1em;
}
#testimoni span{
    font-size: 0.8em;
}

/* ASIDE */
 aside{
    text-align: center;
    line-height: 1.5em; 
    padding-bottom: 35px;
    margin: auto;  
}
    
aside img {     
        width: auto;
        max-height: 300px;
        margin-top: 35px;
        
}

aside p {

        margin-top: none;
        border: 1px solid #ccc;
        border-top: none;
        padding-bottom: 35px;
}
#imm2, #imm3{
    width: 450px;
}

footer{
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: center;
    color: white;
    background-color: #25a2c3;
    line-height: 1.5em; 
    
}
li:first-child{
    text-decoration: underline;
}
hr{
    color: white;
    max-width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer a{
    color: white;
}
   